.container {
    border-radius: 20px;
    width:400px;
    margin:20px align-self;
    padding:20px;
    text-align:center;
}

.clock {
    border:1px solid #333;
    border-radius :20px;
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background : #4da6ff;
}